.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 auto;
}

.skill, .skill-back {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 4px;
  color: #222;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  backface-visibility: hidden;
}

.skill-back p {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: white;
  line-height: 2;
  margin: 12px;
}

.skill-box {
  position: relative;
  transform-style: preserve-3d;
  transition-duration: .5s;
}

.skill-box:hover {
  transform: rotateY(180deg);
  transition-duration: .5s;
}

.skill-back {
  position: absolute;
  top: 0;
  background: #d90429;
  transform: rotateY(180deg);
}